<?js
var data = obj;
var self = this;
var typeSignature = '';
var getClass = function(node) {
    if (node.inherited) {
        return ' inherit';
    } else if (node.overrides) {
        return ' override';
    }

    return '';
};

if (data.type && data.type.names) {
    data.type.names.forEach(function (name) {
        typeSignature += '<span class="type-signature type ' + name.toLowerCase() + '">' + self.linkto(name, self.htmlsafe(name)) + '</span> ';
    });
}
?>
<div class="doc-member panel panel-default<?js= data.deprecated ? ' deprecated' : '' ?>">
    <div class="panel-heading" id="<?js= id ?>">
        <div class="row">
            <div class="panel-title col-sm-8<?js= getClass(data) ?><?js= data.access === 'protected' ? ' item-protected' : '' ?><?js= data.access === 'private' ? ' item-private' : '' ?>">
                <?js= (data.scope === 'static' ? longname : name) ?>
            </div>
            <?js if (data.attribs) { ?>
                <div class="col-sm-4">
                    <?js= data.attribs ?>
                </div>
                <?js } else if (data.meta) { ?>
                    <div class="col-sm-4 text-right small heading-meta">
                        <?js= self.linkto(meta.filename) ?>, <?js= self.linkto(meta.filename, 'line ' + meta.lineno, null, 'line' + meta.lineno) ?>
                    </div>
                <?js } ?>
        </div>
        <div class="row sub-heading">
            <?js if (data.author && author.length) { ?>
                <div class="col-sm-4 small">Author:  <span>
                <?js var authors = data.author.map(function(a) {
                        return self.resolveAuthorLinks(a);
                    }).join(', '); ?>
                <?js= authors ?>
            </span>
                </div>
            <?js } else { ?>
                <div class="col-sm-4"></div>
            <?js } ?>

            <?js if (data.version) { ?>
                <div class="col-sm-4 text-center small">Version: <span><?js=  data.version ?></span></div>
            <?js } else { ?>
                <div class="col-sm-4"></div>
            <?js } ?>

            <?js if (data.meta && data.attribs) {?>
                <div class="col-sm-4 text-right small">
                    <?js= self.linkto(meta.filename) ?>, <?js= self.linkto(meta.filename, 'line ' + meta.lineno, null, 'line' + meta.lineno) ?>
                </div>
            <?js } else { ?>
                <div class="col-sm-4"></div>
            <?js } ?>
        </div>
    </div>
    <div class="markdown-body panel-body">
        <?js= this.partial('description.tmpl', data) ?>
        <?js= this.partial('types.tmpl', data.type) ?>
        <?js= this.partial('details.tmpl', data) ?>

        <?js if (data.examples && examples.length) { ?>
            <?js= this.partial('examples.tmpl', examples) ?>
        <?js } ?>
    </div>
    <?js if (data.copyright || data.license || data.since) { ?>
        <div class="panel-footer">
            <div class="row">
                <?js if (data.copyright) { ?>
                    <div class="col-sm-4">
                        <span data-toggle="popover"
                              title="Copyright"
                              data-placement="right"
                              data-content="<?js= data.copyright ?>"
                              data-trigger="hover"
                        >
                        Copyright
                        </span>
                    </div>
                <?js } else { ?>
                    <div class="col-sm-4"></div>
                <?js } ?>

                <?js if (data.license) { ?>
                    <div class="col-sm-4 text-center">
                        <a href="<?js=  data.license ?>">License</a>
                    </div>
                <?js } else { ?>
                    <div class="col-sm-4"></div>
                <?js } ?>

                <?js if (data.since) { ?>
                    <div class="col-sm-4 text-right">Since: <?js=  data.since ?></div>
                <?js } else { ?>
                    <div class="col-sm-4"></div>
                <?js } ?>
            </div>
        </div>
    <?js } ?>
</div>
