<?js
var item = obj;
var self = this;
var icon = '<i class="fa fa-gift fa-lg"></i>';
var arrow = '<span class="arrow"></span>';
var getClass = function(node) {
    if (node.inherited) {
        return' class="inherit"';
    } else if (node.overrides) {
        return ' class="override"';
    }

    return '';
}
?>
<li id="nav-<?js= item.longname.replace('.', '') ?>-item" data-toggle="collapse" data-target="#nav-<?js= item.longname.replace('.', '') ?>" class="collapsed">
    <?js= self.linkto(item.longname, icon + item.name + arrow) ?>
</li>
<ul class="sub-menu collapse" id="nav-<?js= item.longname.replace('.', '') ?>">
    <?js if (item.constants.length) { ?>
        <div class="section-header">Constants<span class="badge pull-right"><?js= item.constants.length ?></span></div>
        <?js item.constants.forEach(function(constant) { ?>
            <?js= self.linkto(constant.longname, '<li' + getClass(constant) + '>' + constant.name + '</li>') ?>
        <?js }) ?>
    <?js } ?>

    <?js if (item.members.length) { ?>
        <div class="section-header">Members<span class="badge pull-right"><?js= item.members.length ?></span></div>
        <?js item.members.forEach(function(opt) { ?>
            <?js= self.linkto(opt.longname, '<li' + getClass(opt) + '>' + opt.name + '</li>') ?>
        <?js }) ?>
    <?js } ?>

    <?js if (item.privateMembers.length) { ?>
        <div class="section-header">Private Members<span class="badge pull-right"><?js= item.privateMembers.length ?></span></div>
        <?js item.privateMembers.forEach(function(privateMember) { ?>
            <?js= self.linkto(privateMember.longname, '<li' + getClass(privateMember) + '>' + privateMember.name + '</li>') ?>
        <?js }) ?>
    <?js } ?>

    <?js if (item.methods.length) { ?>
        <div class="section-header">Methods<span class="badge pull-right"><?js= item.methods.length ?></span></div>
        <?js item.methods.forEach(function(method) { ?>
            <?js= self.linkto(method.longname, '<li' + getClass(method) + '>' + method.name + '</li>') ?>
        <?js }) ?>
    <?js } ?>

    <?js if (item.privateMethods.length) { ?>
        <div class="section-header">Private Methods<span class="badge pull-right"><?js= item.privateMethods.length ?></span></div>
        <?js item.privateMethods.forEach(function(method) { ?>
            <?js= self.linkto(method.longname, '<li' + getClass(method) + '>' + method.name + '</li>') ?>
        <?js }) ?>
    <?js } ?>

    <?js if (item.events.length) { ?>
        <div class="section-header">Events<span class="badge pull-right"><?js= item.events.length ?></span></div>
        <?js item.events.forEach(function(event) { ?>
            <?js= self.linkto(event.longname, '<li' + getClass(event) + '>' + event.name + '</li>') ?>
        <?js }) ?>
    <?js } ?>

    <?js if (item.privateEvents.length) { ?>
        <div class="section-header">Private Events<span class="badge pull-right"><?js= item.privateEvents.length ?></span></div>
        <?js item.privateEvents.forEach(function(event) { ?>
            <?js= self.linkto(event.longname, '<li' + getClass(event) + '>' + event.name + '</li>') ?>
        <?js }) ?>
    <?js } ?>
</ul>