<?js
var data = obj;
var self = this;
var types = data ? data.names || [] : [];
if (types.length) { ?>
<div class="detail-content">
    <?js
    var t = types.map(function(t) {
        return "<code>" + self.linkto(t, self.htmlsafe(t)) + "</code>"
    }).join(' or '); ?>

    <h5><b>Type</b>:</h5> <?js= t ?>
</div>
<?js } ?>
